@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 238, 238, 238;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer base {
  html {
    font-size: 14px;

    @media screen and (min-width: 1024px) {
      font-size: 16px;
    }
  }

  h1 {
    @apply text-4xl font-extrabold tracking-tight lg:text-5xl;
  }

  h2 {
    @apply text-3xl font-semibold tracking-tight;
  }
}

@layer components {
  .header-section {
    --header-section-max-width: 56rem;
    --header-section-padding-x: 2rem;
  }

  .election-timeline {
    --election-timeline-max-width: calc((var(--header-section-max-width) - var(--header-section-padding-x) * 2) / 2 + var(--election-timeline-sm-spots-padding-x) + var(--election-timeline-card-next-width) / 2);
    --election-timeline-line-height: 0.5rem;
    --election-timeline-xs-spots-padding-x: 1.5rem;
    --election-timeline-sm-spots-padding-x: 3rem;
    --election-timeline-spot-previous-size: 1.5rem;
    --election-timeline-spot-next-inner-size: 1rem;
    --election-timeline-spot-next-outer-size: 2rem;
    --election-timeline-card-next-width: 12rem;
  }

  .bg-election-card-legislatives {
    @apply bg-white bg-national-assembly-blue;
  }
}

@layer utilities {
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
  .pr-safe {
    padding-right: env(safe-area-inset-right);
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .pl-safe {
    padding-left: env(safe-area-inset-left);
  }
  .px-safe {
    @apply pl-safe pr-safe;
  }
  .py-safe {
    @apply pl-safe pr-safe;
  }
}
